*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo";
}
body{
    background-color: var(--secundario);
}
:root{
    --principal: #f6f1ec;
    --secundario: #fcf7f3;
    --acento: #56534e;
    }
  
header{
    width: 100%;
    background-color: var(--principal);
}

.imgm{
    margin-top: -3px;
    margin-left: -5px;
}
#bmenu{
    display: none;
}
header label{
    display: block;
    width: 2em;
    height: 2em;
    
    border-right: 1px solid var(--acento);
}
header label:hover{
    cursor: pointer;
    background-color: var(--secundario);
}
.menu{
    position: absolute;
    background-color:var(--principal);
    width: 22%;
    margin-left: -500px;
    transition: all 0.5s;
}
.menu ul{
    flex-direction: column;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--acento);
    
}
.menu li{
    border-top:  0.5px solid var(--acento);
    border-bottom:  0.5px solid var(--acento);
    padding: 8px;
}

#bmenu:checked ~ .menu{
    margin: 0px;
}
.menu li:hover{
    background: #e6e2e0;
}
.divLogo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 300px;
}
.logo{
    border: 2px solid var(--acento);
    border-radius: 100%;
    width: 200px;
   height: 200px;
}
/*Slider*/
.sliderImg{
    width: 200px;
    height: 150px;
}
.slider{
    border: 1px solid var(--acento);
    
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    overflow: hidden;
  
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200*14);
}   

.slider .slide{
    width: 400px;

}

.sldier .slide img{
    width: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-400px * 7));
    }
}

h3{
    margin-top: -5%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
}
.fila1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fila2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

.perfume{
    width: 200px;
    height: 200px;
}


.perfumes{
    text-align: center;
    padding: 20px;
    border:2px solid var(--acento);
    margin: 5%;
    border-radius: 10%;
}

footer{
    border-top: 1px solid var(--acento);
    background-color: var(--principal);
    padding: 50px;
    font-size: 1em;
    text-align: center;
}
@media screen and (min-width: 650px) {
   
    /*Menu*/
   .menu{
    position: relative;
    display: flex;
    margin: 0px;
    width: 100%;
    background-color: var(--principal);
    font-size: 20px;
    
   }
   .imgm{
    display: none;
   }
    #bmenu{
        display: none;
    } 
    header label{
        display: none;
    }
   
    .menu ul{
        margin: 0px;
        list-style: none;
        padding: 0px;
        width: 100%; 
        display: flex; 
        justify-content: center; 
        text-align: center; 
        flex-direction: row;
    }
    .menu li{
        border-top: 0px;
        border-bottom: 0px;
        padding: 0%;
        flex-grow: 1;
    }
    .menu li:hover{
        background: #e6e2e0;
    }
    
    .menu li a{
        display:block;
        padding: 30px;
        text-decoration: none;

    }
    .divLogo{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .logo{

        width: 350px;
        height: 350px;

    }

    .sliderImg{
        width: 400px;
        height: 304px;
    }
    .fila1{
        margin-top: -5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .fila2{
        margin-top: -5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .perfumes{
        padding: 50px;
    }
   
}